name: Slack


on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  slackNotification:
    name: Slack Notification
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Slack Notification
      uses: rtCamp/action-slack-notify@master
      env:
        SLACK_WEBHOOK: ${{ secrets.SLACK_WEBHOOK }}
        SLACK_CHANNEL: test
        SLACK_USERNAME: AutoDeploy
        SLACK_MESSAGE: ${{GITHUB_ACTOR}}
    - uses: act10ns/slack@v1
      with:
        status: ${{ job.status }}
        steps: ${{ toJson(steps) }}
        channel: 'test'
      if: always() 
      env:
        SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOK}}             


